html{background-color: #ebd8b3;}

H1, h2 {
  font-family: "Hammersmith One";
  line-height:1.5;
  color: #be7f00;
}

ol {
    list-style-type:lower-roman;
  }

em {
  color: #e5aa34;
}

blockquote {
  font-size: 18px;
  font-style: italic;
}

ul {
  list-style-type:none;
  padding:0;
}

figcaption {
  font-size: 10px;
  font-style: italic;
}

dt {
  font-weight:bold;
}

body {
  font-family: arial;
}

a {
  color: blue;
}

a:hover {
  color:white;
